<p><%= t('.greeting', recipient: @email) %></p>

<p>この度は、ご登録いただきありがとうございます。</p>
<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), confirmation_url(@resource, confirmation_token: @token) %></p>